* {
    box-sizing: border-box; 
}
body {
    width: 100%;
    height: 100dvbh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.top {
    display: flex;
    align-items: center;
    gap: 10px;
}
.arrow {
    font-size: 100px;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}
.frame {
    width: 500px;
    height: 300px;
    overflow: hidden;
    border: 12px solid #fff;
    box-shadow: 10px 10px 8px 4px rgba(10, 10, 10, 0.2);
}
.slide {
    display: flex;
    transition: all 2s ease;
}
.image {
    width: 500px;
    height: auto;
    object-fit: cover;
}
.bottom {
    display: flex;
    gap: 10px;
}
.button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border:  1px solid #242424;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}